@import '../node_modules/antd/lib/style/index';

@input-height-base: 30px;

#components-layout-demo-top-side .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

/* white background of search bar shined through */
.ant-input-group-addon {
    background-color: transparent !important;
}

/* input padding after prefix */
.ant-input-affix-wrapper .ant-input:not(:first-child) {
    padding-left: 40px !important;
}

.form-auth {
    width: 480px;
    height: auto;
    margin: 150px auto 0 auto;
    padding: 25px;
    background-color: white;
    box-shadow: @box-shadow-base;
}

.main-header {
    display: grid;
    height: 120px !important;
    grid-template-columns: 20% auto;
    grid-template-rows: 50% auto;
}

.auth-header {
    height: 48px !important;
}

.logo-wrapper {
   align-items: center;
   justify-items: center;
   grid-column: 1;
   grid-row: span 2;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.logo-main {
    vertical-align: middle;
    width: 100%;
    max-width: 189px;
    height: auto;
    max-height: 67px;
}

.utils {
    display: flex;
    justify-content: flex-end;
    height: 40px;
    grid-column: 2;
    grid-row: 1;
}

.util-item {
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.sections {
    display: flex;
    justify-content: flex-end;
    grid-column: 2;
    grid-row: 2;
}

.section-item {
    float: right;
}

.settings-pane {
    display: grid;
    grid-template-columns: 35% auto;
    grid-gap: 1.8em;
    margin: 0 auto;
    width: 90%;
}
