@import '../node_modules/antd/lib/style/index';

@input-height-base: 30px;

#components-layout-demo-top-side .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.form-auth {
    width: 480px;
    height: auto;
    margin: 150px auto 0 auto;
    padding: 25px;
    background-color: white;
    box-shadow: @box-shadow-base;
}
